.App {
  background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
}

.logo{
  background: url('logo.png') no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px; /* Half the height */
  margin-left: -165px; /* Half the width */
}
