.fb-navbar {
  background-color: white;
}

.fb-navbar-toggle {
  float: left;
  margin-left: 15px;
}


.fb-navbar-logo {
  position: absolute;
  background: url('../../assets/images/logo.png');
  background-repeat: no-repeat;
  background-size: 80px 75px;
  height: 75px;
  width: 80px;
  left: 50%;
  margin-left: -40px;
  z-index: 1000;

  top:7px
}

.navbar-brand {float:none;}


@media only screen and (min-width : 768px) {
  .fb-navbar-right{
    margin-right: 15%;
  }
  .fb-navbar-left{
    margin-left: 15%;
  }
  .fb-nav-item-innder-left{
    margin-left: 40px;
  }
  .fb-nav-item-innder-right{
    margin-right: 40px;
  }
}

@media only screen and (max-width : 767px) {
  .fb-navbar-right{
    margin-top: 0px;
  }
  .fb-navbar-left{
    margin-bottom: 0px;
  }
}