.fb-navbar {
  background-color: white;
}

.fb-navbar-toggle {
  float: left;
  margin-left: 15px;
}


.fb-navbar-logo {
  position: absolute;
  background: url('../../assets/images/logo.png');
  background-repeat: no-repeat;
  background-size: 80px 75px;
  height: 75px;
  width: 80px;
  left: 50%;
  margin-left: -40px;

  top:7px
}

.navbar-brand {float:none;}


@media only screen and (min-width : 768px) {

}