@import 'registration.scss';
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');

/*
 * overwrite bootstrap
 */
.navbar {
  border-bottom: none;
}

.sign-in-bar{

  .label{
    float: right;
    a{
      color: white;
      font-size: 1.5em;
      text-decoration: none;

    }

    a:hover{
      color: mediumturquoise;
      background-color: transparent;
    }

    a:focus{
      color: mediumturquoise;
      background-color: transparent;
    }

  }

  a {
    color: white;
  }

  .vertical-line{
    background-color: mediumturquoise;
  }

  .shopping-cart{
    float: right;
    background: url('../../assets/images/shopping-cart-white.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin-right: 25px;
    margin-left: 20px;
  }
}

.fb-navbar-wrapper {
  position: absolute;
  width: 100%;
  z-index: 100;
  font-family: 'Advent Pro', sans-serif;

  .navbar-nav>li>a{
    color: mediumturquoise;
    background-color: transparent;
  }

  .navbar-nav>li>a:focus {
    color: lightpink;
    background-color: transparent;
  }

  .navbar-nav>li>a:hover {
    color: lightpink;
    background-color: transparent;
  }

  li>a{
    color: mediumturquoise;
    background-color: transparent;
  }

  li>a:focus {
    color: lightpink;
    background-color: transparent;
  }

  li>a:hover {
    color: lightpink;
    background-color: transparent;
  }

  li {
    list-style: none;
  }
}

.vertical-line{
  width: 1px; /* Line width */
  background-color: pink; /* Line color */
  background-size: 100px 100px;
  height: 20px; /* Override in-line if you want specific height. */
  float: right; /* Causes the line to float to left of content.
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
  margin-left: 10px;
}

.wave-border {
  display: block;
  height: 9px;
  width: 100%;
  margin-top: -22px;
  background-color: transparent;
  background: url('../../assets/images/wave-separator.png') repeat-x bottom;
}

.fb-navbar {
  background-color: white;
}

.fb-navbar-toggle {
  float: left;
  margin-left: 15px;
}


.fb-navbar-logo {
  position: absolute;
  background: url('../../assets/images/logo.png');
  background-repeat: no-repeat;
  background-size: 80px 75px;
  height: 75px;
  width: 80px;
  left: 50%;
  margin-left: -40px;
  z-index: 1000;

  top:7px
}

.fb-shopping-cart{
  float: right;
  background: url('../../assets/images/shopping-cart.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-left: 10px;
}

.navbar-brand {float:none;}

.sign-in-url{
  float: right;
}

.sign-in-wrapper {
  margin-top: 17px;
  float: right;
  a {
    text-decoration: none;
  }
}

.sign-in-bar{
  height: 30px;
  background-color: pink;
}

.sign-in-bar-right{
  float: right;
  margin-top: 5px;
}

@media only screen and (min-width : 768px) {
  .fb-navbar-right{
    margin-right: 15%;
  }
  .fb-navbar-left{
    margin-left: 15%;
  }
  .fb-nav-item-innder-left{
    margin-left: 40px;
  }
  .fb-nav-item-innder-right{
    margin-right: 40px;
  }
  .sign-in-wrapper{
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px) {
  .fb-navbar-right{
    margin-top: 0px;
  }
  .fb-navbar-left{
    margin-bottom: 0px;
  }
  .sign-in-bar{
    display: none;
  }
}