@import url('https://fonts.googleapis.com/css?family=Roboto:700');

form{
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5em;
  color: #7a7a7a;

  span{
    color: red;
  }
}

input{
  width: 90%;
}

label{
  margin-top: 20px;
}

button{
  margin-top: 20px;
}