.white-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10000;
  opacity: 0.8;
}

.loading-spinner{
  background: url('../../assets/images/loading.gif') no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 10001;
  margin-top: -25px;
  margin-left: -25px;
  top: 50%;
  left: 50%;
}