@import url('https://fonts.googleapis.com/css?family=Pacifico');

.fb-registration-header{
  //background-color: red;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-align: center;
  color: pink;
  vertical-align: middle;
  margin-top: 20px;

}