@import url('https://fonts.googleapis.com/css?family=Pacifico');

.fb-registration-header{
  background: url('../images/bg_header_wine.jpg');
}

.fb-signup-header{
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px #fff;
  color: pink;
  padding-bottom: 20px;
  padding-top: 20px;
}

.fb-signup-form-wrapper{
  margin-top: 2%;
  padding: 2%;
  border: solid 2px lightgray;
  border-radius: 5px;
}


@media only screen and (min-width : 768px) {
  .fb-content{
    position: relative;
    top: 80px
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px) {
  .fb-content{
    position: relative;
    top: 50px
  }
}